@mixin flex($justify-content, $align-items, $direction){
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
}

@mixin btn($background-color, $color, $color-h, $border-radius, $padding){
    background-color:$background-color;
    color: $color;
    border: 1px solid $color-h;
    border-radius: $border-radius;
    padding: $padding;
}